.App {
  text-align: center;
}

.product-img {
  height: 5%;
  width: 5%;
}

.orders-block {
 
}

.order-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}