#root {
  background-color: #d3d3d340;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 2%;
}

.new-order-bar {
  display: flex;
  margin-bottom: 3%;
  justify-content: center;
}

.order-page {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.products-block {
  padding: 3%;
}

.cart-block {
  padding: 3%;
}

.cart-products-title {
  margin: 10px;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-row.header p {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}
