#root {
  background-color: #d3d3d340;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 2%;
}

.new-order-bar {
  display: flex;
  margin-bottom: 3%;
  justify-content: center;
}
.product-img {
  height: 5%;
  width: 5%;
}

.order-page {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.order-row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}